*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
.divstyle{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

h1{
    color: #fff;
    font-size: 35px;
}
label{
    font-size: 20px;
    font-weight: bold;
}
button{ 
    width: 80px;
    padding: 15px;
}
table{
    margin: 15px;
    width: 800px;
}
select{
    height: 35px;
}